*{
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0 auto !important;
}



.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #17882c;
    padding: 20px 20px;
  }

  .caixa_pesquisa input{
    padding: 8px;
    border: none;
  }
  .caixa_pesquisa input::placeholder{
    color: #195128;
  }
  .menu{
    background-color: #195128; 
    max-width: 290px;
    height: 70vw;
        
  }
   .links li{
    margin: 20px;
    list-style: none;
   }
  .menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 32px;
    width: 100%;
  }
  .menu ul li a:hover{
    background-color: #ffffff50;
    width: 100%;
  }

  .flex{
    display: flex;
    gap: 100px;
 }

  .texto-principal h1{
    font-family: "Arial";
    color:#195128;
    text-align: center;
    font-size: 40px;
    
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 25px;
  }

  .texto-principal img{
    margin-left: 315px;
    margin-top: 30px;
  }

  .tabela{
    margin-top: 30px;
    background-color: #d5f7d0;
    text-align: justify;
    width: auto;
    color:#000000;
    font-size: 25px;
    margin-right: 150px;
}

.rodape {
  text-align: center;
  color: #ffffff;  
  background-color: #17882c;
  padding: 20px 20px;
}

.texto-principal h3{
  font-family: "Arial";
  color: #248817;
  text-align: center;
  font-size: 35px;
  margin-right: 200px;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 25px;
}


